*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-color: #292C34;
}
h1 
{
    background: white;
    padding: 20px;
    color : #25272E;
    text-align: center;
    font-family: sans-serif;
}
.score-board
{
    margin: 20px auto;
    border: 3px solid white ;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;
}
.badge
{
    background-color: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}
#user-label
{
    position: absolute;
    top: 30px;
    left: -25px;
}
#computer-label
{
    position: absolute;
    top: 30px;
    right: -30px;
}
.result
{
    font-size: 40px;
    color: white;
}
.result > p
{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
.choices
{
    margin-top: 30px ;
    text-align: center;
}
.choice
{
    border: 2px solid white;
    border-radius: 50%;
    margin: 15px 15px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}
.choice:hover
{
    cursor: pointer;
    background: #24272E;
}
#action-message
{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}
#send-message 
{
    position: relative;
    text-align: center;
    background: rgb(212, 33, 33);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-decoration: solid;
    border-radius: 5px;
    left: 50%;
    margin-left: -95px;
    padding: 4px 10px 5px 10px;
    font-style: italic;
}
.green-glow
{
    border: 2px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}
.red-glow
{
    border: 2px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}
.gray-glow
{
    border: 2px solid #464647;
    box-shadow: 0 0 10px #25292b;
}
